* {
	margin: 0;
	padding: 0;
	--page-width: 600px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
}

.link {
	color: rgb(0, 84, 185);
	text-decoration: none;
}

.services-list {
	columns: 2;
	list-style-type: none;
	padding: 0;
}

.services-list__item {
	padding: 0.4em;
}

.header-404__title {
	font-weight: 400;
	margin-bottom: 0.5em;
}

.header-404 {
	width: var(--page-width);
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	width: 100vw;
}

.content-404 {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}

@media (max-width: 700px) {
	.content-404 {
		flex-direction: column;
	}

	.content-404 {
		align-self: center;
	}
}

.icon {
	margin: 0 0.5em;
	width: 1em;
}

.search-content {
	height: 100px;
	max-width: var(--page-width);
	width: 100%;
}

.footer {
	align-items: center;
	background-color: white;
	bottom: 0;
	display: flex;
	justify-content: center;
	position: fixed;
	width: 100%;
}

.footer-nav {
	display: flex;
	gap: 24px;
	height: 30px;
	width: 600px;
}

.footer-nav__link {
	color: #999;
	font-size: 14px;
	white-space: nowrap;
}

.search-block__yandex-logo {
	background-image: url("//upload.wikimedia.org/wikipedia/commons/f/f1/Yandex_logo_2021_Russian.svg");
	background-repeat: no-repeat;
	height: 30px;
	margin: 10px;
	width: 100px;
}

.search-content {
	background: #fc0;
	border-radius: .625rem;
	display: flex;
	max-height: 40px;
	position: relative;
	width: 100%;
}

.search-form {
	align-items: center;
	display: flex;
	justify-content: center;
	position: relative;
	white-space: nowrap;
	width: var(--page-width);
}

.search-content__input {
	border: 0 solid transparent;
	border-radius: .550rem .375rem .375rem .550rem;
	font-size: 20px;
	height: 90%;
	margin: 2px;
	padding-left: 10px;
	width: 85%;
}


.search-content__input::placeholder {
	font-size: 16px;
}

.search-content__button {
	background: #fc0;
	border: 0;
	border-radius: 0 .625rem .625rem 0;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 100%;
	margin: 0.1em;
	text-align: center;
	width: 15%;
}

.search-content__button:hover {
	background: #f5c400;
}


.logo {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	height: 18px;
	margin: 0 0.4em;
	vertical-align: text-bottom;
	width: 18px;
}

.logo-market {
	background-image: url("//yastatic.net/s3/home/services/all/svg/market_new2022.svg");
}

.logo-plus {
	background-image: url("//yastatic.net/s3/home/services/all/svg/plus1.svg");
}

.logo-praktikum {
	background-image: url("//yastatic.net/s3/home/services/all/svg/praktikum0.svg");
}

.logo-music {
	background-image: url("//yastatic.net/s3/home/services/all/svg/music_new.svg");
}

.logo-kinopoisk {
	background-image: url("//yastatic.net/s3/home/services/all/svg/kinopoisk_2021_v2.svg");
}

.logo-edadeal {
	background-image: url("//yastatic.net/s3/home/services/all/svg/edadeal_new.svg");
}

.logo-toloka {
	background-image: url("//yastatic.net/s3/home/services/all/svg/toloka1.svg");
}

